%container{
    margin: 0 5%;
}
%btn {
    padding: 2vh 4vh;
    border: 1px solid $black;
    box-shadow: 4px 4px;
    width:80%;
    transition: all 0.75s;
    cursor:pointer;
    &:hover{
        background:$black;
        color: blue;
    }
}
.container{
    @extend %container;
}
.btn{
    @extend %btn;
}